/* Color Scheme
Sea Blue = #2F496E
Grecian Blue = #2988BC
Plaster = #F4EADE
Coral = #ED8C72
*/

.vbox, .hbox {
    -fx-font-family: "sans-serif";
    -fx-text-fill: #ED8C72;
    -fx-background-color: #2F496E;
}

.button{
    -fx-border-insets: 1px;
    -fx-background-insets: 1px;
    -fx-text-fill: #ED8C72;
    -fx-background-color: #2F496E;
    -fx-border-width: 25;
    -fx-border-radius: 15;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.label{
    -fx-alignment: center;
    -fx-font-family: "sans-serif";
    -fx-font-weight: bold;
    -fx-text-fill: #ED8C72;
    -fx-background-color: #2F496E;
    -fx-border-width: 25;
    -fx-border-radius: 15;
    /*-fx-background-color: linear-gradient(#2E4600, #2E4600);*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.text-field{
    -fx-text-fill: #2F496E;
    -fx-background-color: #F4EADE;
}

.anchor-pane{
    -fx-text-fill: #F4EADE;
    -fx-background-color: #2988BC;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width:100px;
}

.tab-pane .tab {
    -fx-background-color: #F4EADE;
}

.tab-pane .tab:selected {
    -fx-background-color: #2F496E;
}

.tab:selected .tab-label{
     -fx-text-fill: #ED8C72;
 }

.list-view .list-cell:selected{
    -fx-text-fill: #F4EADE;
    -fx-background-color: #2988BC;
}
